@model List<ASPNET_MVC_Samples.Models.FeatureViewModel>

@{
    ViewBag.Title = "Seminconductors Features";
}

<head>
    <link href="~/Content/graphs.css" rel="stylesheet" type="text/css" />
</head>
<div class="row">
    <div class="col-sm-7">
    Select a page (5 items/page):
    </div>
    <div class="col-sm-2">
    Current page:
    </div>
    <div class="col-sm-2">
    Filters: 
    </div>
</div>
<div class="row">
    <div class="col-sm-7" id="q-pagination-section">
            <ul class="pagination">              
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="Home/Index">1</a></li>
                <li class="page-item"><a class="page-link" href="/Home/ChangePage?id=2">2</a></li>
                <li class="page-item"><a class="page-link" href="/Home/ChangePage?id=3">3</a></li>
                <li class="page-item"><a class="page-link" href="/Home/ChangePage?id=4">Next</a></li>
                <li class="page-item"><a class="page-link" href="/Home/ChangePage?id=118">Last</a></li>
            </ul>
    </div>
    <div class="col-sm-2">
         <ul class="pagination">
             <li class="page-item active"><a class="page-link" href="#">1</a></li>
         </ul>
    </div>
    <div class="col-sm-2">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="@Url.Action("StDevZero","Home", new {id = 1})">St dev = 0</a></li>
            <li class="page-item"><a class="page-link" href="@Url.Action("MissingValues","Home", new { id = 1 })">More than 50% missing</a></li>
        </ul>
    </div>
</div>
<div class="q-graph" id="chartContainer1"></div>
<div class="q-info"> 
   <b>Standard Dev: </b><br /> @Model[0].FeatureInfo.StDev.ToString("0.00") <br />
   <b>Min:</b> <br /> @Model[0].FeatureInfo.Minimum <br />
   <b>Max:</b> <br />@Model[0].FeatureInfo.Maximum <br />
   <b>Mean:</b> <br /> @Model[0].FeatureInfo.Mean.ToString("0.00") <br />
</div>
<div class="q-graph" id="chartContainer2"></div>
<div class="q-info">
    <b>Standard Dev: </b><br /> @Model[1].FeatureInfo.StDev.ToString("0.00") <br />
    <b>Min:</b> <br /> @Model[1].FeatureInfo.Minimum <br />
    <b>Max:</b> <br />@Model[1].FeatureInfo.Maximum <br />
    <b>Mean:</b> <br /> @Model[1].FeatureInfo.Mean.ToString("0.00") <br />
</div>
<div class="q-graph" id="chartContainer3"></div>
<div class="q-info">
    <b>Standard Dev: </b><br /> @Model[2].FeatureInfo.StDev.ToString("0.00") <br />
    <b>Min:</b> <br /> @Model[2].FeatureInfo.Minimum <br />
    <b>Max:</b> <br />@Model[2].FeatureInfo.Maximum <br />
    <b>Mean:</b> <br /> @Model[2].FeatureInfo.Mean.ToString("0.00") <br />
</div>
<div class="q-graph" id="chartContainer4"></div>
<div class="q-info">
    <b>Standard Dev: </b><br /> @Model[3].FeatureInfo.StDev.ToString("0.00") <br />
    <b>Min:</b> <br /> @Model[3].FeatureInfo.Minimum <br />
    <b>Max:</b> <br />@Model[3].FeatureInfo.Maximum <br />
    <b>Mean:</b> <br /> @Model[3].FeatureInfo.Mean.ToString("0.00") <br />
</div>
<div class="q-graph" id="chartContainer5"></div>
<div class="q-info">
    <b>Standard Dev: </b><br /> @Model[4].FeatureInfo.StDev.ToString("0.00") <br />
    <b>Min:</b> <br /> @Model[4].FeatureInfo.Minimum <br />
    <b>Max:</b> <br />@Model[4].FeatureInfo.Maximum <br />
    <b>Mean:</b> <br /> @Model[4].FeatureInfo.Mean.ToString("0.00") <br />
</div>
<div class="row">
    <div class="col-sm-5">
        Select a page (5 items/page):
    </div>
    <div class="col-sm-2">
        Current page:
    </div>
    <div class="col-sm-2">
        Filters:
    </div>
</div>
<div class="row">
    <div class="col-sm-7" id="q-pagination-section">
        <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="Home/Index">1</a></li>
            <li class="page-item"><a class="page-link" href="/Home/ChangePage?id=2">2</a></li>
            <li class="page-item"><a class="page-link" href="/Home/ChangePage?id=3">3</a></li>
            <li class="page-item"><a class="page-link" href="/Home/ChangePage?id=4">Next</a></li>
            <li class="page-item"><a class="page-link" href="/Home/ChangePage?id=120">Last</a></li>
        </ul>
    </div>
    <div class="col-sm-2">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
        </ul>
    </div>
    <div class="col-sm-2">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="@Url.Action("StDevZero","Home", new {id = 1})">St dev = 0</a></li>
            <li class="page-item"><a class="page-link" href="@Url.Action("MissingValues","Home", new { id = 1 })">More than 50% missing</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var chart = new CanvasJS.Chart("chartContainer1", {
            title: {
                text:"Feature " +  @Model[0].FeatureNr
            },
            animationEnabled: true,
            legend: {
                verticalAlign: "center",
                horizontalAlign: "left",
                fontSize: 20,
                fontFamily: "Helvetica"
            },
            theme: "theme2",
            data: [
                {
                    type: "pie",
                    indexLabelFontFamily: "Garamond",
                    indexLabelFontSize: 20,
                    indexLabel: "{label} {y}",
                    startAngle: -20,
                    showInLegend: true,
                    toolTipContent: "{label} {y}",
                    dataPoints:  @Html.Raw(ViewBag.DataPoints1),
            }
            ]
        });
        chart.render();
        var chart2 = new CanvasJS.Chart("chartContainer2", {
            title: {
                 text:"Feature " +  @Model[1].FeatureNr
            },
            animationEnabled: true,
            legend: {
                verticalAlign: "center",
                horizontalAlign: "left",
                fontSize: 20,
                fontFamily: "Helvetica"
            },
            theme: "theme2",
            data: [
            {
                type: "pie",
                indexLabelFontFamily: "Garamond",
                indexLabelFontSize: 20,
                indexLabel: "{label} {y}",
                startAngle: -20,
                showInLegend: true,
                toolTipContent: "{legendText} {y}",
                dataPoints: @Html.Raw(ViewBag.DataPoints2),

                //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                //dataPoints:
            }
            ]
        });
        chart2.render();
         var chart3 = new CanvasJS.Chart("chartContainer3", {
            title: {
                text:"Feature " +  @Model[2].FeatureNr
            },
            animationEnabled: true,
            legend: {
                verticalAlign: "center",
                horizontalAlign: "left",
                fontSize: 20,
                fontFamily: "Helvetica"
            },
            theme: "theme2",
            data: [
            {
                type: "pie",
                indexLabelFontFamily: "Garamond",
                indexLabelFontSize: 20,
                indexLabel: "{label} {y}",
                startAngle: -20,
                showInLegend: true,
                toolTipContent: "{legendText} {y}",
                dataPoints: @Html.Raw(ViewBag.DataPoints3),

                //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                //dataPoints:
            }
            ]
        });
         chart3.render();
         var chart4 = new CanvasJS.Chart("chartContainer4", {
            title: {
                 text:"Feature " +  @Model[3].FeatureNr
            },
            animationEnabled: true,
            legend: {
                verticalAlign: "center",
                horizontalAlign: "left",
                fontSize: 20,
                fontFamily: "Helvetica"
            },
            theme: "theme2",
            data: [
            {
                type: "pie",
                indexLabelFontFamily: "Garamond",
                indexLabelFontSize: 20,
                indexLabel: "{label} {y}",
                startAngle: -20,
                showInLegend: true,
                toolTipContent: "{legendText} {y}",
                dataPoints: @Html.Raw(ViewBag.DataPoints4),

                //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                //dataPoints:
            }
            ]
        });
         chart4.render();
         var chart5 = new CanvasJS.Chart("chartContainer5", {
            title: {
                 text:"Feature " +  @Model[4].FeatureNr
            },
            animationEnabled: true,
            legend: {
                verticalAlign: "center",
                horizontalAlign: "left",
                fontSize: 20,
                fontFamily: "Helvetica"
            },
            theme: "theme2",
            data: [
            {
                type: "pie",
                indexLabelFontFamily: "Garamond",
                indexLabelFontSize: 20,
                indexLabel: "{label} {y}",
                startAngle: -20,
                showInLegend: true,
                toolTipContent: "{legendText} {y}",
                dataPoints: @Html.Raw(ViewBag.DataPoints5),

                //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                //dataPoints:
            }
            ]
        });
        chart5.render();
    });
</script>